<!DOCTYPE html>
<html>
  <head>
    <title>Edit Employee</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand navbar-primary bg-primary sticky-top">
      <div class="navbar-brand ms-3 text-white">Store Manager</div>
    </nav>

    <!-- form -->
    <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">Edit Employee</h1>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="first_name" class="form-label">First Name:</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                value="{{ employee.first_name }}"
                required
              />
            </div>
            <div class="mb-3">
              <label for="last_name" class="form-label">Last Name:</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                value="{{ employee.last_name }}"
                required
              />
            </div>
            <div class="mb-3">
              <label for="date_of_birth" class="form-label"
                >Date of Birth:</label
              >
              <input
                type="date"
                class="form-control"
                name="date_of_birth"
                value="{{ employee.date_of_birth|date:'Y-m-d' }}"
                required
              />
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Gender:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" value="Male" id="male" {% if employee.gender == "Male" %}checked{% endif %} required>
                <label class="form-check-label" for="male">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" value="Female" id="female" {% if employee.gender == "Female" %}checked{% endif %} required>
                <label class="form-check-label" for="female">
                  Female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" value="Other" id="other" {% if employee.gender == "Other" %}checked{% endif %} required>
                <label class="form-check-label" for="other">
                  Other
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary float-end px-3">
              Save Changes
            </button>
            <button
              type="button"
              class="btn btn-secondary float-end mx-2"
              onclick="window.history.back()"
            >
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
